primary-text-color = #8E6938
secondary-color = #F6E0AF
accent = #E6A401
divider = #EEDF3E
primary-color = #3F3333
secondary-text-color = #8a8a8a


font-huge = 18px
font-small = 11px
font-size-default = 14px

font-family = 'Arial'
font-gross = 'bold'
font-thin = 'lighter'

