.Toolbar {
    margin: 0;
    padding: 0rem;
    background-color: $secondary-color;
    
    .nav {
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;

        .title-header {
            display: inline-block;
            padding: .8rem;
            h2 {
                color: $primary-color;
                margin: 0;
                padding: 0;
                .legend-slogan {
                    margin-left: .4rem;
                }
            }
        }

        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li.navbar-item {
                margin: 0;
                display: inline-block;
                padding: 1.1rem 0;
                background-color: $primary-color;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                &:hover {
                    background-color: $accent;
                    border-top: 4px solid #ccc;
                    border-bottom: 4px solid #ccc;
                }
                a, span {
                    padding: 1.1rem;
                    color: $secondary-color;
                }
            }
        }
    }
}
